@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .snap {
        scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
    .snap-y {
        --scroll-snap-direction: y;
    }
    .snap-mandatory {
        --scroll-snap-constraint: mandatory;
    }
    .snap-start {
        scroll-snap-align: start;
    }
}
/*multiselect css*/
.multiselect{
    height: 64px;
    .multiselect__select,.multiselect__tags{

        height: 64px;
        .multiselect__tag{
            border-radius: 1rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            background-color: #99ffcc;
            color: black;
        }
    }
    .multiselect__input{
        height: 63px;
        margin-top: -46px;
    }
    .multiselect__tags{
        border-radius: 1rem;
        box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        --tw-ring-color: rgb(209 213 219);
        border: none;
        text-align: center;
    }
}

.select-category{
.multiselect__select{
    display: none;
}
}
/*multiselect css*/

.casual_carousel .carousel__pagination-button::after{
    width: 7px !important;
    height: 7px !important;
    border-radius: 5px !important;
}
.add_word_carousel .carousel__pagination-button {
    padding: 0 15px !important;
}
.add_word_carousel .carousel__pagination-button::after{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    border: 1px solid #777 !important;
}
.add_word_carousel .carousel__pagination-button--active::after {
    background-color: #99ffcc;
}
@font-face {
    font-family: 'Elsie';
    src: url("../fonts/elsie/elsier.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Heebo';
    src: url("../fonts/heebo/heebo.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Gowun';
    src: url("../fonts/gowun/gowun.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Grotes';
    src: url("../fonts/grotes/grotes.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/roboto.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Prata';
    src: url("../fonts/prata/prata.ttf");
    font-weight: normal;
}
.font-elsie {
    font-family: 'Elsie', sans-serif;
    font-weight: normal;

}
.font-heebo {
    font-family: 'Heebo', sans-serif;
    font-weight: normal;

}
.font-gowun {
    font-family: 'Gowun', sans-serif;
    font-weight: normal;

}
.font-grotes {
    font-family: 'Grotes', sans-serif;
    font-weight: normal;

}
.font-prate {
    font-family: 'Prata', sans-serif;
    font-weight: normal;

}

.element:read-write:focus {
    outline: none;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
body {
    overflow: hidden !important;
    scrollbar-width: none; /* Firefox */
    scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
    width: 0 !important; /* Adjust as needed */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent !important; /* Hide scrollbar thumb */
}

body::-webkit-scrollbar-track {
    background-color: transparent !important;
}