@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .snap {
        scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
    .snap-y {
        --scroll-snap-direction: y;
    }
    .snap-mandatory {
        --scroll-snap-constraint: mandatory;
    }
    .snap-start {
        scroll-snap-align: start;
    }
}

.carousel__pagination-button::after{
    width: 7px !important;
    height: 7px !important;
    border-radius: 5px !important;
}